.corpodosite{
    color: white;
}



.cabecalho {
    background-image: linear-gradient(black, red);
    color: azure;
    display: flex;

}

.section1 {
    background-image: linear-gradient(red,rgb(141, 12, 12));
    padding: 100px;
}

.section2 {
    background-image: linear-gradient(rgb(141, 12, 12),black);
    padding: 100px;
}

.cabecalho-imagem {
    width: 20%;
}

.rodape {
    background-color: black;
    color: white;
}