.cabecalho {
    background-color: black;
    color: azure;
    display: flex;

}

.section1 {
    background-color: brown;
    padding: 100px;
}

.section2 {
    background-color: blue;
    padding: 100px;
}

.cabecalho-imagem{
    width: 20%;
}

.rodape{
    background-color: black;
    color: white;
}